<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Names or Emails</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
<div class="container">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Google</button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Slack</button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Microsoft</button>
      </div>
</div>