<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
        <button type="button" class="btn-close" aria-label="Close" 
        routerLink="/sidebar"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"></button>
        <div class="profile">
            <h3>Project Template</h3>
            
            <ul>
                <li>
                    <a>
                        <span class="item">Software development</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/service-management">
                    <span class="item">Service Management</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/work-management">
                        <span class="item">Work Management</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/product-management">
                        <span class="item">Product Management</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Marketing</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Human resources</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Finance</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Design</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Personal</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Operations</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Legal</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Sales</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="project-body">
        <h6>Project Template</h6>

        <h4>Product Management</h4>

        <p>Guide every step of a product’s lifecycle: from inception through delivery - stay focused on the product and its customers first and foremost with our product management templates.</p>

        <div class="display-card">
            <a routerLink="/create-project">
                <div class="card">
                <div class="card-body ">
                    <div class="imgbox">
                        <div class="img"></div>
                    </div>
                    <div class="textbox">
                        <h4 class="textboxH4">Kanban</h4>
                        <p class="textboxP">Visualize and advance your project forward using issues on powerful board.</p> 
                    </div>
                </div>
              </div>
            </a>
            <a 
            routerLink="/create-project">
            <div class="card">
                <div class="card-body ">
                    <div class="imgbox">
                        <div class="img"></div>
                    </div>
                    <div class="textbox">
                        <h4 class="textboxH4">Scrum</h4>
                        <p class="textboxP">Sprint towards your project goals with boards, backlog and roadmap.</p> 
                    </div>
                </div>
              </div>
            </a>
            <a routerLink="/create-project">
                <div class="card">
                    <div class="card-body ">
                        <div class="imgbox">
                            <div class="img"></div>
                        </div>
                        <div class="textbox">
                            <h4 class="textboxH4">Bug tracking</h4>
                            <p class="textboxP">Manage a list of development tasks and bugs.</p> 
                        </div>
                    </div>
                  </div>
            </a>
        </div>
        
    </div>

</div>

