
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #e8e8e8;
}

.wrapper .sidebar{
    background: #e8e8e8;
    position: fixed;
    top: 35px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.profile h3{
    text-align: center;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: left;
}

.wrapper .sidebar .profile h3{
    color: #42526E;
    margin: 10px 0 5px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: #42526E;
    font-size: 13px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #42526E;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #333;
    background:#e8e8e8;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #42526E;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.project-body{
    margin-left: 265px;
    margin-top: 0px;
}

.project-body h6{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}

.project-body h4{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.project-body p{
    font-size: 14px;
    margin-bottom: 18px;
}

.display-card{
    min-width: 660px;
    width: 880px;
    padding: 0px 8px;
    height: 95%;
    overflow-y: auto;
}

.card{
    display: flex;
    margin: 16px 0px;
    padding: 0px;
    width: 100%;
    border: none;
    height: 112px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--ds-shadow-raised,0px 1px 1px rgba(9,30,66,0.13), 0px 0px 1px rgba(9,30,66,0.13));
    cursor: pointer;
    position: relative;
    overflow: initial;
}

.imgbox{
    width: 15%;
    background-color: #F4F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
}

.img{
    width: 100px;
    height: 100px;
    background-image: url(https://cdn-icons-png.flaticon.com/128/5792/5792530.png);
    background-size: cover;
}

/* .card img{
    width:120px;
    height: 110px;
    float: left;
    margin-top: -25px;
}

.card .imgbox{
    width: 20%;
    margin: 10px;
    
} */

.textbox{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 130px;
    margin-top: -80px;
    padding: 0px 24px;
}

.textboxH4{
    font-size: 1.42857em;
    font-style: inherit;
    line-height: 1.2;
    color: #172B4D;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
   
}

.textboxP{
    color: #6B778C;
    margin-top: 4px;
    text-align: left;
}