
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #e8e8e8;
}

.wrapper .sidebar{
    background: #e8e8e8;
    position: fixed;
    top: 35px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.profile h3{
    text-align: center;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: left;
}

.wrapper .sidebar .profile h3{
    color: #666;
    margin: 10px 0 5px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: #666;
    font-size: 13px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #666;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #888;

    background:#e8e8e8;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #666;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.project-body{
    margin-left: 265px;
    margin-top: 0px;
}

.project-body h6{
    margin-bottom: 25px;
    font-size: 13px;
}

.project-body h4{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.project-body p{
    font-size: 14px;
    margin-bottom: 25px;
}

.display-card{
    height: 200px;
    width: 700px;
    display: grid;
    margin: auto;
}

.card{
    height: 150px;
    width:auto;
}

.card img{
    width:120px;
    height: 110px;
    float: left;
    margin-top: -25px;
}

.card .imgbox{
    width: 20%;
    margin: 10px;
    
}

.textbox{
    float: right;
    margin: 5px;
}