<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
        <button type="button" class="btn-close" aria-label="Close" 
        routerLink="/sidebar"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"></button>
        <div class="profile">
            <h3>Project Template</h3>
            
            <ul>
                <li>
                    <a>
                        <span class="item">Software development</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Service Management</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Work Management</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Product Management</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Marketing</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Human resources</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Finance</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Design</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Personal</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Operations</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Legal</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="item">Sales</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="project-body">
        <h6>Project Template</h6>

        <h4>Software development</h4>

        <p>Plan, track and release great software. Get up and running quickly with templates that suit the way your team works. Plus, integrations for DevOps teams that want to connect work across their entire toolchain.</p>

        <div class="display-card">
            <a routerLink="/create-project">
                <div class="card">
                <div class="card-body mt-5">
                    <div class="imgbox">
                        <img src="/assets/image/dummy2.jpg">
                    </div>
                    <div class="textbox">
                        <h5>Kanban</h5>
                        <p>Visualize and advance your project forward using issues on powerful board.</p> 
                    </div>
                </div>
              </div>
            </a>
            <a 
            routerLink="/create-project">
              <div class="card">
                <div class="card-body mt-5">
                    <div class="imgbox">
                        <img class="images" src="/assets/image/dummy1.jpg" alt="images">
                    </div>
                    <div class="textbox">
                        <h5>Scrum</h5>
                        <p> Sprint towards your project goals witha a board, backlog and roadmap.</p>
                    </div>
                </div>
              </div>
            </a>
            <a routerLink="/create-project">
              <div class="card"> 
                <div class="card-body mt-5">
                    <div class="imgbox">
                        <img src="/assets/image/dummy2.jpg">
                    </div>
                    <div class="textbox">
                        <h5>Bug tracking</h5>
                        <p> Manage a lists of development tasks and boards</p>
                    </div>
                </div>
              </div>
            </a>
        </div>
        
    </div>

</div>
