<form class="container">
    <label>Product</label>
    <!-- <mat-form-field>
      <mat-select placeholder="Toppings" [formControl]="toppings" [(value)]="selectedToppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field> -->
      <br>

      <label>Create Task</label>

      <div class="col-sm-3 ml-4">
        <select [(ngModel)]="selectedProject" class="form-select" (ngModelChange)="onChangeofOptions($event)">
            <option selected>Select Project...</option>
            <option [value]="project._id" *ngFor = "let project of projects">{{project.projectName}}</option>
        </select>
      </div>
      
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Try a team name, project goal, milestone..." [(ngModel)] = "text">
      </div>

    <label>Assign To team</label>
    <div class="col-sm-3 ml-4">
      <select [(ngModel)]="selectedUser" class="form-select" (ngModelChange)="onChangeofOptions($event)">
          <option selected>Select User...</option>
          <option [value]="user._id" *ngFor = "let user of users">{{user.username}}</option>
      </select>
    </div>
    <br>
      
    <h4>Priority</h4>
   

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="fitem" id="inlineRadio1" value="Urgent" [(ngModel)] ="type" >
        <label class="form-check-label" for="inlineRadio1">Urgent</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="utnesil" id="inlineRadio2" value="Very Urgent" [(ngModel)] ="type" >
        <label class="form-check-label" for="inlineRadio2">Very Urgent</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="utnesil" id="inlineRadio2" value="Extremely Urgent" [(ngModel)] ="type" >
        <label class="form-check-label" for="inlineRadio2">Extremely Urgent</label>
    </div><br>
    <button type="submit" (click)="submit()"class="btn btn-primary">Submit</button>
  </form>