body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .project{
    width: 100%;
    height: 600px;
    padding: 5px;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 15px;
  }
  
  .sidebar a {
    display: block;
    color: #555;
    padding: 10px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #d1e5ff;
    color: #0052cc;
    
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #d1e5ff;
    color: #888;
  }
  
.project-body{
    margin-left: 250px;
    margin-top: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}