<div class="form">
    <div class="header">
        <h3>Create Team</h3>
    </div>
    <div class="formBody">
        <div class="formbody1">
            <img src="../../assets/image/data.svg" class="dataimg">
        </div>
        <div class="formbody2">
            <p>Get everyone working in one place by adding them to a team.     
                Stay connected with @mentions, collaborate on work together,     
                and efficiently manage everything from the team profile page. 
            </p>
            <div class="mb-3 mt-3">
                <label for="text" class="form-label h6">Team name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="What's your team called" name="Username" >
            </div>
        </div>
    </div>
</div>


