<div class="top">
    <h4>Projects</h4>
    <button type="button" class="btn btn-primary" routerLink="/create-project">Create Project</button>
</div>

<div class="drp-dwn-Container">
    <div class="search">
        <form class="d-flex col-sm-8 input-sm">
            <input class="form-control me-2  " type="search" placeholder="Search" aria-label="Search">
          </form>
    </div>

    <div class="dropdown">
        <button class="dropbtn">All Jira Products</button>
            <div class="dropdown-content">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                
              </mat-radio-group>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                
              </mat-radio-group>
                  
            </div>
    </div>
</div>

<div >
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Key</th>
        <th scope="col">Type</th>
        <th scope="col">Lead</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects" >
        <th scope="row">{{project.id}}</th>
        <td>{{project.projectName}}</td>
        <td>{{project.type}}</td>
        <td><div class="col-md-5">
          <div>
          <button type="button" class="btn btn-primary btn-sm" (click)="showEditDialog(user)">Edit</button>
          </div> he
          <div>
          <button type="button" class="btn btn-danger btn-sm" (click)="letUser(user)">Delete </button>
          </div>
      </div></td>
      </tr>
    </tbody>
  </table>
</div>


