<p>create-project works!</p>

<div class="container">
    <div class="details">
        <h2>Add project</h2>
        <p>You can change these details anytime in your project settings.</p>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Try a team name, project goal, milestone...">
            <br>
            <p>Access: Anyone with access to project can access and administer this project. Upgrade your plan to customize project permissions.</p>
          </div>
        <h5>Key<span>i</span></h5>
    </div>
    <div class="category"></div>
</div>